a {
    text-decoration: none;
}
a li {
    list-style: none;
    color: blue;
    border: 2px solid blue;
    width: 200px;
    margin-bottom: 5px;
    font: 20px Arial bold;
    padding: 10px;
    display: block;
}

a li:hover {
    text-align: center;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
}