a {
    text-decoration: none;
}

img {
    position: absolute;
    right: 4px;
    top: 5.5px;
}

a li {
    list-style: none;
    color: white;
    width: 250px;
    background-color: rgb(80, 80, 255);
    border: 2px solid rgb(80, 80, 255);
    margin-bottom: 5px;
    font: 20px Arial bold;
    padding: 12px;
    display: block;
    position: relative;
    border-radius: 12px;
}

a li:hover {
    color: rgb(80, 80, 255);
    background-color: white;
    border: 2px solid rgb(80, 80, 255);
    font-size: 25px;
}

a li:active {
    color: rgb(80, 80, 255);
    background-color: white;
}